.venv
configs
__pycache__
.env
__init__
configs/firebase_config.json
configs/firebase_service_account.json
configs/firebase_service_account.json
flutter_frontend/build/
flutter_frontend/.dart_tool/
flutter_frontend/.idea/
